.font {
    font-family: Calibri;
    color: #7a7763;
}

.color-style {
    border-color: #d1c4c4;
    font-family: Calibri;
    color: #7a7763;
}

.pos-logo {
    text-align: center;
}

.logo-div {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.form-signin {
    max-width: 40%;
    padding: 19px 29px 29px;
    margin: auto;
}

.form-signin input[type="text"] {
    height: 41px;
}

.form-signin input[type="password"] {
    height: 41px;
}

.dotted-line {
    border-top: dotted 1px;
}

.rem-padding-right {
    padding-right: 0px;
}

.col-sm-4 .btn-sub-color {
    background-color: #e1a538;
    border-color: #d1c4c4;
    font-family: Calibri;
    color: #7a7763;
}

.col-sm-6 .btn-res-pass-col {
    background-color: #c6e592;
    border-color: #d1c4c4;
    font-family: Calibri;
    color: #7a7763;
}

.col-sm-6 .btn-req-access-col {
    background-color: #bed8d8;
    border-color: #d1c4c4;
    font-family: Calibri;
    color: #7a7763;
}

.rem-padding-left {
    padding-left: 0px;
}

.bg1 {
    background-image: url(Images/Login-Page-_BG.png);
    background-repeat: no-repeat;
    background-color: #e4e0d1;
    background-size: 100% 110%;
}